/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.12.2014, 20:50:39
    Author     : User
*/
/* texte.class1
{
    font-family: 'Syncopate', sans-serif; 
    font-size: 8em;
}*/
body
{
    margin: 0 auto;
    padding: 0;
}
#wrapper
{
    width: 100vw;
    height: 100vh;
}
#banner
{
    font-family: 'Montez', cursive;
    color: red;
    text-align: center;
    font-size: 6em;
    margin: 0;
}
#loginBox .button
{
    float:right;
}
#loginBox form
{
    padding-top: 0.5%;
}
#loginBox label
{
    float:left;
    margin-right: 0.5%;
    font-weight: bold;
}
#loginBox input
{
    float:left;
    margin-right: 1%;
}

#registrierungsBox
{
    width: 35%;
    margin-top: 5%;
    margin-left: 30%;
    text-align: center;
    
}
#registrierungsBox form
{
    margin-left: 30%;
}
#registrierungsBox label
{
    width: 50%;
    float: left;
    margin-right: 7%;
    padding: 0.75%;
    font-weight: bold;
    
}
#registrierungsBox input
{
    float: left;
    width: 50%;
    margin-bottom: 1.5%;
    
}
#regSubmit
{
    margin-top: 5%
}
#trennStrich
{
    background: rgba(150,150,0,.8);
    //background:#f7ae2b;
    width: 100%;
    height: 100px;
    border-top: 2px solid #bbb;
    box-shadow: 0 -0.25em 0.2em 0.1em #ccc;
}
/*
    Kanal.html
*/
#navBar
{
    width: 20%;
    height: 80vh;
    float:left;
    border-right: 1px solid #aaa;
}
#serverMeldungen
{
    color:red;
    font-weight: bold;
    
}
#content
{
    width: 79vw;
    height: 80vh;
    float:left;
}

.albumIcon
{
    width: 22%;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    margin: 1%;
    text-align: center;
}
.freigegeben
{
    background: rgba(150,150,0,.7);
}
.gesperrt
{
    background: rgba(150,0,0,.7);
}
.albumIcon img{
    margin-left: 2%;
    margin-bottom: 1%;
    
   float:left;
}
.versteckt
{
    visibility: hidden;
}
.sichtbar
{
    visibility: visible;
}
li
{
    list-style: none;
}
#passwortAendernFieldset
{
    margin-top: 5%;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
#passwortAendernFieldset label
{
    width:20%;
    float: left;
    font-weight: bold;
    margin-top: 2%;
}
.passwortInput
{
    width:75%;
    float: left;
    margin-top: 2%;
}
#passwortSub
{
    margin-top: 2%;
    width: 50%;
    float: left;
    margin-left: 25%;
}
#navBar a
{
    margin-top: 10%;
}
#suchEingabeForm
{
    margin-top: 5%;
    margin-left: 3%;
    
}
#suchEingabeSub
{
    display: none;
}
#suchEingabeForm label
{
    font-weight: bold;
    font-size: 1.5em;
}
#suchEingabeForm input
{
    width: 85%
}

