/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.12.2014, 21:40:52
    Author     : User
*/

.button
{
    background: #ccc;
    //background-image: linear-gradient(top, #eee, #ccc);
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    display: inline-block;
    border: 1px solid #555;
    padding: 0 1.5em;
    margin: 0.5em;
    color: #333;
    font: bold 1em helvetica;
    font-style: italic;
    white-space: nowrap;
    border-radius: 0.2em;
   text-decoration: none;
    // box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   // text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
.button:before
{
    background: rgba(0,0,0,.1);
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    box-shadow: 2px 0 0 rgba(0,0,0,.5), 3px 0 0 rgba(255,255,255,.5);
}
.button:hover 
{
    background: #ddd;
    //background-image: linear-gradient(top, #fafafa, #ddd);
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}


.bestaetigen:before{
    content: "\2714";
    padding-right: 0.25em;
}
.hinzufuegen:before {
    content: "\271A";
    padding-right: 0.25em;
}
.eintragen:before{
    content: "\2198";
    padding-right: 0.25em;
}
