/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.12.2014, 21:40:52
    Author     : User
*/

.button
{
    background: #ccc;
    //background-image: linear-gradient(top, #eee, #ccc);
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    display: inline-block;
    border: 1px solid #555;
    padding: 0 1.5em;
    margin: 0.5em;
    color: #333;
    font: bold 1em helvetica;
    font-style: italic;
    white-space: nowrap;
    border-radius: 0.2em;
   text-decoration: none;
    // box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   // text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
.button:before
{
    background: rgba(0,0,0,.1);
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    box-shadow: 2px 0 0 rgba(0,0,0,.5), 3px 0 0 rgba(255,255,255,.5);
}
.button:hover 
{
    background: rgba(150,150,150,.8);
    color:#fff;
}

.kanalUI
{
    /*
    float: left;
    width: 10%;
    height: 10%;
    margin: 0.2%;
    margin-right: 10%;
        padding:1%;*/
    
    display: inline-block;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #a1a1a1;
  padding: 0 2em;
  font: bold 1em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  border-radius: .2em;
  float:left;
  margin-left: 5%;
}
.kanalUI:before
{
  float: left;
  width: 1em;
  text-align: center;
  font-size: 1.7em;
  margin: 0 0.5em 0 -1em;
  padding: 0 .2em;
  pointer-events: none;

}
.kanalUI:hover
{
    background: rgba(150,150,150,.8);
    color:#fff;
}
.bestaetigen:before{
    content: "\2714";
    padding-right: 0.25em;
}
.hinzufuegen:before {
    content: "\271A";
    padding-right: 0.25em;
}
.eintragen:before{
    content: "\2198";
    padding-right: 0.25em;
}
.bearbeiten:before
{
    content: "\270E";
}
.loeschen:before
{
    content: "\2718";
}
.betrachten:before
{
    content: "\25B6"; 
}
.freigeben:before
{
    content: "\271A";
}