body{
    margin: 0 ;
    padding: 0;
    background: rgba(25,25,25,.75);
    text-align: center;
}
a{
    text-decoration: none;
     color: #ddd;
}
#template1
{
    background-image: url(../res/img/backgrounds/holzTextur_2.jpg);
    background-repeat: no-repeat;
    font-family: 'Audiowide', cursive;
    width: 100vw;
    color: #ddd;
    height: 100vh;
    overflow: scroll;

}
#template2
{
    background-image: url(../res/img/backgrounds/castle_1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Playball', cursive;
    font-weight: bold;
    font-size: 1vw;
    height: 100vh;
    overflow: scroll;

}
#template3
{
    background-image: url(../res/img/backgrounds/helloKitty_1.jpg);
    background-size: 100%;
    font-family: 'Indie Flower', cursive;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: scroll;

}
#templateWrapper img{
    width: 17vmax;
    height: 10vmax;
    float: left;
}


img{
    border: 2px solid #bbb;
    //margin: 0.5vw;
}
.anordnungsItem img:hover{
    border: 2px solid crimson;
    box-shadow: 0 0 25px crimson;
}
.anordnungsItem
{
    float: left;
}
.clearFix
{
    clear: both;
}

#anordnungBar
{
    margin-left: 15%;

}
.pageSample
{
    width: 75vw;
    height: 80vh;
    float:left;

}

.info
{
    width: 20%;
    font-style: italic;
    padding: 0.2vw;
    margin-left: 0.5vw;
    float:left;

}
#sticky
{
   background: rgba(0,0,0,0.75); 
   height: 2.5%; 
   position: fixed; 
   top:0; 
   z-index: 123434; 
   width: 99%;
   text-align: center;
   border-radius: 10px;
   margin-bottom: 5em;
    padding: 0.5%;
}


/*
.anordnung1 .bild1
{

}
.anordnung1 .bild2
{

}
.anordnung1 .bild3
{

}
.anordnung1 .bild4
{
    margin-top: 12vmax;
    margin-left: -54.2vmax;
}
.anordnung1 .bild5
{
    margin-top: 23.5vmax;
    margin-left: -54.2vmax;
}
.anordnung1 .bild6
{
    margin-top: 35vmax;
    margin-left: -54.2vmax;
}
.anordnung1 .albumText1
{
    width: 50vw;
    float: left;
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-align: justify;
}
.anordnung1 .albumText2
{
    width: 50vw;
    float: left;
    margin-bottom: 5vh;
    text-align: justify;
}
.anordnung1 .albumText3
{
    width: 50vw;
    float: left;
    margin-bottom: 5vh; 
    text-align: justify;
}
*/
.anordnung2 .bild1
{

}
.anordnung2 .bild2
{
    margin-left: 20vmax;
}
.anordnung2 .bild3
{
    margin-top: 24vmax;
    margin-left: -55.5vmax;
}
.anordnung2 .bild4
{
    margin-top: 24vmax;
    margin-left: -17.5vmax;

}
 .anordnung2 .albumText1
 {
    width: 50vmax;
    float: left;
    margin-top: -22vmax;
    margin-left: 3vmax;
    text-align: justify;
}
.anordnung2 .albumText2
{
    width: 50vmax;
    float: left;
    margin-top: 2vmax;
    margin-left: 3vmax;
    text-align: justify; 
}



.anordnung4 .bild1
{
    margin-left: 40vmax;
}
.anordnung4 .albumText1
 {
    width: 35vmax;
    float: left;
    margin-top: -11vmax;
    margin-left: 3vmax;
    text-align: justify;
}
.anordnung4 .albumText2
{
    width: 55vmax;
    float: left;
    margin-top: 2vmax;
    margin-left: 3vmax;
    text-align: justify; 
}




.anordnung5 .bild1
{

}
.anordnung5 .bild2
{
    margin-top: 6vmax;
    margin-left: -9vmax;
}
.anordnung5 .bild3
{
    margin-top: 17vmax;
    margin-left: -24.4vmax;
}
.anordnung5 .albumText1
{
    width: 28vmax;
    float: left;
    margin-top: -11vmax;
    margin-left: 27vmax;
    text-align: justify; 
}
.anordnung5 .albumText2
{
    width: 54vmax;
    float: left;
    margin-left: 1vmax;
    text-align: justify;
}



.anordnung6 .bild1
{

}
.anordnung6 .bild2
{
    margin-left: 20vmax;
}
.anordnung6 .bild3
{
    margin-top: 29vmax;
    margin-left: -55.5vmax;
}
.anordnung6 .bild4
{
    margin-top: 29vmax;
    margin-left: -17.5vmax;

}
.anordnung6 .albumText1
{
    width: 50vmax;
    float: left; 
    margin-top: -24vmax;
    margin-left: 3vmax;
    text-align: justify;
}



.anordnung7 .bild1
{

}
.anordnung7 .bild2
{
   margin-top: 13vmax;
   margin-left: 24.5vmax;

}
.anordnung7 .bild3
{

}
.anordnung7 .albumText1
{
    width: 40vmax;
    float: left; 
    margin-top: -33.5vmax;
    margin-left: 20vmax;
    text-align: justify;
}
.anordnung7 .albumText2
{
    width: 40vmax;
    float: left; 
    margin-top: -22vmax;
    margin-left: 1vmax;
    text-align: justify;
}
.anordnung7 .albumText3
{
    width: 40vmax;
    float: left; 
    margin-top: -10vmax;
    margin-left: 20vmax;
    text-align: justify;
}



.anordnung8 .bild1
{
    transform: rotate(315deg);
    margin-top: 10vmax;
    margin-left: 3vmax;
}
.anordnung8 .bild2
{
    transform: rotate(315deg);
    margin-top: 10vmax;
}
.anordnung8 .bild3
{
   transform: rotate(315deg);
   margin-top: 24vmax;
   margin-left: -32vmax;
}
.anordnung8 .bild4
{
    transform: rotate(315deg);
    margin-top: 27vmax;
    margin-left: -17vmax;
}
.anordnung8 .albumText1{
    width: 22vmax;
    float: left;
    margin-top: -32vmax;
    margin-left: 48vmax;
    text-align: justify;
}

.anordnung3 .bild1
{

}
.anordnung3 .bild2
{
    margin-left: 20vmax;
}
.anordnung3 .bild3
{
    margin-top: 30vmax;
    margin-left: -17.5vmax;
}
.anordnung3 .albumText1{
    width: 50vmax;
    float: left; 
    margin-top: -28vmax;
    margin-left: 3vmax;
}
.anordnung3 .albumText2{
    width: 34vmax;
    float: left;
    margin-top: -11vmax;
    margin-left: 2vmax;
}



.anordnung9 .bild1
{

}
.anordnung9 .bild2
{
   margin-left: 10vmax;
}
.anordnung9 .bild3
{
   margin-top: 12vmax;
   margin-left: -45.5vmax;
}
.anordnung9 .bild4
{
    margin-top: 12vmax;
    margin-left: -17.8vmax;
}
.anordnung9 .bild5
{
    margin-top: 23.5vmax;
    margin-left: -45.5vmax;
}
.anordnung9 .bild6
{
    margin-top: 23.5vmax;
    margin-left: -17.8vmax;
}                    
.anordnung9 .bild7
{
    margin-top: 35vmax;
    margin-left: -45.5vmax;    
}
.anordnung9 .bild8
{
  margin-top: 35vmax;
  margin-left: -17.8vmax;
}
.anordnung9 .albumText1{
    width: 20vmax;
    float: left; 
}
::-webkit-scrollbar
{
    display: none;
}


//links  color/ boxshadow red
#vorschau
{
    height: 400px;
}
#sideBar
{
    width: 19vw;
    height: 400px;
    float: left;
    text-align: justify;
    padding: 0.5%;
    font-weight: bold;
    font-size: 1.1em;
    color: #ddd;
    
}
.templateEinsVorschau{
    float: left;
    background-image: url(../res/img/backgrounds/holzTextur_2.jpg);
    background-repeat: no-repeat;
    font-family: 'Audiowide', cursive;
    color: #ddd;
    width: 80vw;
}
.templateZweiVorschau{
    float: left;
    background-image: url(../res/img/backgrounds/castle_1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Playball', cursive;
    font-weight: bold;
    font-size: 1vw;
    width: 80vw;
}
.templateDreiVorschau{
    float: left;
    background-image: url(../res/img/backgrounds/helloKitty_1.jpg);
    background-size: 100%;
    font-family: 'Indie Flower', cursive;
    background-repeat: no-repeat;
    width: 80vw;
}
.bilder
{
    width: 17vmax;
    height: 10vmax;
    background: #f00;
    border: 1px solid black;
    display: inline-block;
}

.anordnung1 .bild1{
    width: 17vmax;
    height: 10vmax;
    float: left;
    background: rgba(0,0,0,0.1);
    border: 1px solid black;
    display: inline-block;
    margin-right: 2vmax;
    margin-bottom: 2vmax;
}
.anordnung1 .bild2{
    width: 17vmax;
    height: 10vmax;
    float: left;
    background: rgba(0,0,0,0.1);
    border: 3px solid black;
    display: inline-block;
    margin-right: 2vmax;
    margin-bottom: 2vmax;
}
.anordnung1 .bild3{
    width: 17vmax;
    height: 10vmax;
    float: left;
    background: rgba(0,0,0,0.1);
    border: 1px solid black;
    display: inline-block;
    margin-right: 2vmax;
    margin-bottom: 2vmax;
}
.anordnung1 .bild4{
    width: 17vmax;
    height: 10vmax;
    float: left;
    background: rgba(0,0,0,0.1);
    border: 1px solid black;
    display: inline-block;
    margin-right: 2vmax;
    margin-bottom: 2vmax;
    
}
.anordnung1 .bild5{
    width: 17vmax;
    height: 10vmax;
    float: left;
    background: rgba(0,0,0,0.1);
    border: 1px solid black;
    display: inline-block;
    margin-right: 2vmax;
    margin-bottom: 2vmax;
}

.anordnung1 .bild6{
    width: 17vmax;
    height: 10vmax;
    float: left;
    background: rgba(0,0,0,0.1);
    border: 1px solid black;
    display: inline-block;
    margin-right: 2vmax;
    margin-bottom: 2vmax;
}
.anordnung1 .albumText1
{
    width: 50vmax;
    height: 10vmax;
    float: left;
    background: rgba(0,0,0,0.1);
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 2vmax;
    font-weight: bold;
    text-align: justify;
}
.anordnung1 .albumText2
{
    width: 50vmax;
    height: 10vmax;
    float: left;
    background: rgba(0,0,0,0.1);
    border: 1px solid black;
    margin-bottom: 2vmax;
    font-weight: bold;
    text-align: justify;
}
.anordnung1 .albumText3
{
    width: 50vmax;
    height: 10vmax;
    float: left;
    background: rgba(0,0,0,0.1);
    border: 1px solid black;
    margin-bottom: 2vmax;
    font-weight: bold;
    text-align: justify;
}

#inputContainer
{
    //background: rgba(150,150,150,1);
    background: rgba(25,25,25,0.75);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 40vmax;
    margin-left: 20vmax;
    margin-top: -40vmax;
    z-index: 24234;
    float: left;
    text-align: center;
    padding: 5vmax;
    
}
#inputContainerTemplateAuswahl
{
    background: rgba(25,25,25,0.75);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 40vmax;
    margin-left: 20vmax;
    margin-top: -40vmax;
    z-index: 24234;
    float: left;
    text-align: center;
    padding: 5vmax;
    position:  absolute;
}
#inputContainer button
{
    width: 20vmax;
}
#inputContainerTemplateAuswahl button
{
    width: 20vmax;
}
#fotoTextLabel
{
    
}
.versteckt
{
    visibility: hidden;
}
.sichtbar
{
    visibility: visible;
}
.vorschauBild{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
